/*Cabeçalho*/
body {
    background-image: url();
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: center;
    background-size: 150%;
}
header {
   /*box-sizing: border-box;*/
    text-align: center;
    margin-top: 100px;
}
h1 {
    color: #b38600;
    font-size: 60px;
    padding: 20px;
}
h2, h3 {
    color: rgb(10, 10, 10);
    font-weight: bold;
    font-size: 40px;
}
/*Estilização container números*/
.container{
    display: flex;
    justify-content: center;
    align-items: center; 
    /*padding: 0.5rem;*/
    margin: 1.5rem 0 0 0;
}
ul {
    list-style: none;
    align-items: center;
    display: flex;
    gap: 60px;
}
li {
    border-radius: 50%;
    width: 60px;
    height: 60%;
    margin-bottom: 30px;
    text-align: center;
    font-weight: bold;
    font-size: 80px;
}
table {
    justify-content: space-between; /*Alinhamento horizontal*/
    border: 3px #dede16 solid;
    padding: 0.5rem 2rem 0  2rem;
    margin-left: 30%;
    width: 40%;
    height: 30%;
    border-radius: 1rem;
    font-weight: bold;
}
.cod {
    font-size: 1.5rem;
    color: #000000;
}
.numb {
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
}
td {
    padding: 0.5rem;
    text-align: center;
    justify-content: space-around;
}
tbody td {
    border-bottom: 1px solid #000;
}
